<nav
  class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50"
>
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex justify-start items-center">
      <a class="flex items-center justify-between mr-4">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >greenbowl</span
        >
      </a>
    </div>
    <div>
      <sgb-button icon="person" variant="ghost" />
    </div>
  </div>
</nav>
