<gb-form [form]="itemsForm">
  <div class="grid grid-cols-3 gap-4">
    <div class="flex gap-2">
      <gb-select
        label="Menu"
        [control]="itemsFormControls.menuID"
        [showErrors]="showErrors"
        apiURL="/menu"
        bindLabel="name"
        bindValue="id"
        class="flex-grow"
        #menuSelect
      >
      </gb-select>
      <sgb-button
        variant="outline"
        class="mt-6"
        size="sm"
        (handleClick)="openDialog(addMenu)"
      >
        <sgb-icon icon="add" title="Add new ingredient" />
      </sgb-button>
    </div>
    <gb-input
      label="Name"
      [control]="itemsFormControls.name"
      [showErrors]="showErrors"
    />

    <gb-input
      label="Price"
      type="number"
      [control]="itemsFormControls.price"
      [showErrors]="showErrors"
      [hints]="['Prices are in rupees']"
    />
    <gb-input
      label="Protien"
      type="number"
      [control]="itemsFormControls.protien"
      [showErrors]="showErrors"
    />
    <gb-input
      label="Fat"
      type="number"
      [control]="itemsFormControls.fat"
      [showErrors]="showErrors"
    />
    <gb-input
      label="Energy"
      type="number"
      [control]="itemsFormControls.energy"
      [showErrors]="showErrors"
    ></gb-input>
    <gb-input
      label="Carbs"
      type="number"
      [control]="itemsFormControls.carbs"
      [showErrors]="showErrors"
    ></gb-input>
    <gb-input
      label="Calories"
      type="number"
      [control]="itemsFormControls.calories"
      [showErrors]="showErrors"
    />

    <div>
      <div class="flex gap-2">
        <gb-select
          label="Ingredients"
          [control]="itemsFormControls.ingredients"
          [showErrors]="showErrors"
          class="flex-grow"
          [multiple]="true"
          apiURL="/ingredient"
          bindLabel="name"
          bindValue="id"
          #ingredients
        />
        <sgb-button
          variant="outline"
          class="mt-6"
          size="sm"
          (handleClick)="openDialog(addIngredient)"
        >
          <sgb-icon icon="add" title="Add new ingredient" />
        </sgb-button>
      </div>
    </div>
    <gb-checkbox
      label="Active"
      [control]="itemsFormControls.isActive"
      [showErrors]="showErrors"
    />
  </div>

  <gb-textarea label="Description" [control]="itemsFormControls.description" />
  <input type="file" (change)="handleFileChange($event)" />
</gb-form>

<ng-template #addMenu>
  <gb-dialog-content>
    <gb-dialog-header>
      <gb-dialog-title>Add Menu</gb-dialog-title>
      <gb-dialog-description
        >You can add new menu from here</gb-dialog-description
      >
    </gb-dialog-header>
    <div>
      <gb-input
        label="Menu name"
        [control]="menuName"
        [showErrors]="showErrors"
      />
    </div>

    <gb-dialog-footer>
      <sgb-button
        size="sm"
        (handleClick)="handleMenuSubmit()"
        [disabled]="menuName.invalid"
        >Save</sgb-button
      >
    </gb-dialog-footer>
  </gb-dialog-content>
</ng-template>

<ng-template #addIngredient>
  <gb-dialog-content>
    <gb-dialog-header>
      <gb-dialog-title>Add Ingredient</gb-dialog-title>
      <gb-dialog-description
        >You can add new ingredient from here</gb-dialog-description
      >
    </gb-dialog-header>
    <div>
      <gb-input
        label="Ingredient"
        [control]="ingredientName"
        [showErrors]="showErrors"
      />
    </div>

    <gb-dialog-footer>
      <sgb-button
        size="sm"
        (handleClick)="handleIngredientSubmit()"
        [disabled]="ingredientName.invalid"
        >Save</sgb-button
      >
    </gb-dialog-footer>
  </gb-dialog-content>
</ng-template>
