<h3 class="font-bold text-3xl">Dashboard</h3>
<div class="grid grid-cols-3 gap-4 py-4">
  <div sgb-card>
    <div
      sgb-card-header
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div sgb-card-title>Revenue</div>
      <gb-select
        [items]="['last 7 days', 'last 30 days', 'last month', 'last 3 months']"
        [searchable]="false"
        [control]="timefilter"
      />
    </div>
    <div sgb-card-content>
      <span class="flex">
        <sgb-icon icon="currency_rupee" class="mt-1" />
        <p class="text-2xl font-bold">45,231.89</p>
      </span>
      <span class="flex gap-1 items-center cursor-pointer">
        <p class="text-xs text-muted-foreground">View reports</p>
        <sgb-icon icon="arrow_right" class="mt-1" />
      </span>
    </div>
  </div>
  <div sgb-card>
    <div
      sgb-card-header
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div sgb-card-title>New Customers</div>
      <gb-select
        [items]="['last 7 days', 'last 30 days', 'last month', 'last 3 months']"
        [searchable]="false"
        [control]="timefilter"
      />
    </div>
    <div sgb-card-content>
      <p class="text-2xl font-bold">250</p>
      <span class="flex gap-1 items-center cursor-pointer">
        <p class="text-xs text-muted-foreground">View reports</p>
        <sgb-icon icon="arrow_right" class="mt-1" />
      </span>
    </div>
  </div>
  <div sgb-card>
    <div
      sgb-card-header
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div sgb-card-title>Orders</div>
      <gb-select
        [items]="['last 7 days', 'last 30 days', 'last month', 'last 3 months']"
        [searchable]="false"
        [control]="timefilter"
      />
    </div>
    <div sgb-card-content>
      <p class="text-2xl font-bold">20</p>
      <span class="flex gap-1 items-center cursor-pointer">
        <p class="text-xs text-muted-foreground">View reports</p>
        <sgb-icon icon="arrow_right" class="mt-1" />
      </span>
    </div>
  </div>
</div>
<div class="grid grid-cols-2 gap-4">
  <div sgb-card>
    <div
      sgb-card-header
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div sgb-card-title>Last seven days orders</div>
      <sgb-icon icon="list_alt" />
    </div>
    <div sgb-card-content class="p-0">
      <div id="bar-chart" class="w-full h-[350px]"></div>
    </div>
  </div>
  <div sgb-card>
    <div
      sgb-card-header
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div sgb-card-title>Previous two months revenue</div>
      <sgb-icon icon="currency_rupee" size="sm" />
    </div>
    <div sgb-card-content class="p-0">
      <div id="line-chart" class="w-full h-[350px]"></div>
    </div>
  </div>
</div>
<div class="pt-4">
  <p class="font-bold text-xl mb-3">Recent orders</p>

  <gb-data-grid
    [data]="mock"
    [loading]="false"
    [selectable]="false"
    [collectionSize]="mock.length"
    [hideFeatures]="['footer']"
  >
    <gb-column field="id" alignment="left" />
    <gb-column field="name" alignment="left" />
    <gb-column field="pinCode" title="Pin Code" />
    <gb-column field="value" />
    <gb-column field="recieved" alignment="left">
      <ng-template #cell let-item>
        {{ item.recieved | date }}
      </ng-template>
    </gb-column>
  </gb-data-grid>
</div>
